	  <div class="footer fixed">
        <div class="pull-right">


        </div>
	      <div>
	          <strong>Copyright</strong> Projeto Andrésão® 2019
	      </div>
    </div>

  </div>
</div>
</body>
</html>
